.footer{
  position: fixed;
   left: 0;
   bottom: 0;
   height:60px;
   border-top:1px solid grey;
   width: 100%;
   color: black;
   background-color: #6c46a7;
   text-align: center;

 }
 
 .copyRight{
  padding:15px;
  font-weight: bold;
  color:white;
 }