.headerContainer{
  width:100%;
  height:50px;
  border:1px solid lightgrey;
}

.fas.fa-home{
  font-size:22px;
  color:grey;
  text-align: center;
  padding: 15px;
  margin-left:47.5%;
}

.fas.fa-folder-plus{
  padding: 15px;
  font-size:22px;
  color:grey;
}

.fas.fa-home:hover,.fas.fa-folder-plus:hover{
  color:black;
  cursor:pointer;
}