.headerContainer{
  width:100%;
  height:50px;
  border:1px solid lightgrey;
}

.fas.fa-home{
  margin-left:45%;
}

.fas.fa-home,.fas.fa-folder-plus{
  padding: 15px;
  font-size:22px;
  color:grey;
}

.fas.fa-home:hover,.fas.fa-folder-plus:hover{
  color:black;
  cursor:pointer;
}

@media screen and (max-width:1000px){
  .fas.fa-home{
    margin-left:38%;
  }

}