.homeSectionContainer{
  margin-top:1.5%;
  padding-bottom:15%;
}

.headerPhoneCatalog{
  color:#6c46a7;
  font-weight: bold;
  font-size:18px;
  margin-top:1%;
  padding-bottom:1%;
  text-align: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
  width:40%;
  margin:auto;
}

.filterContainer{
  text-align: center;
  width:40%;
  margin:auto;
  padding-bottom:1%;
}

.allFilter{
  color:black;
  font-weight: bold;
}


.noPhonesHeader{
  text-align: center;
  margin:auto;
  margin-top:5%;
  font-size:25px;
  display:flex;
  flex-direction:column;
  color:#6c46a7;
  font-weight: bold;
}

.fas.fa-sad-tear{
font-size: 60px;
color:#6c46a7;
margin-top:5%;
}

.headerHomeScreen{
  color:#6c46a7;
  font-weight: bold;
  font-size:18px;
  margin-top:1%;
}
.phoneList{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  width:40%;
  padding:15px;
  margin:auto;
  border:1px solid black;
  border-radius:5px;
  margin-bottom:1%;
}

.imageSizeHome{
  width:80px;
  height:100px;
}




.fas.fa-trash{
  padding-top:35px;
  font-size:20px;
  color:rgb(134, 133, 133);
}

.fas.fa-trash:hover{
  cursor:pointer;
  color:black;
  transform: scale(1.1);
}


@media screen and (max-width:1000px){
  .phoneList{
    width:90%;
  }

  .headerPhoneCatalog,.filterContainer{
width:90%;
  }

}