.updateHeaderPhoneScreen{
  border:1px solid grey;
  text-align: center;
  margin:auto;
  width:30%;
  margin-top:1%;
  height:50px;
  padding:5px;
  color:#6c46a7;
  font-size:22px;
}
 
.updateHeaderPhoneScreen:hover{
background-color: grey;
color:white;
}

.phoneScreenContainer{
  width:50%;
  margin:auto;
  margin-top:1%;
  border:1px solid grey;
  border-radius:8px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftContainerPhoneScreen{
width:50%;

}

.rightContainerPhoneScreen{
  width:50%;
 text-align: center;
}


.rightContainerPhoneScreen > div{
  font-size:12px;
  color:black;
  font-weight: bold;
}


.phoneScreenDetailContainer{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.imageSizePhoneScreen{
  width:300px;
  height:440px;
  margin:15px;
  margin-left:70px;
}

 
@media screen and (max-width:1000px){
  .phoneScreenContainer{
    width:100%;
  border:none;
    flex-direction: column;
  
  }

  .rightContainerPhoneScreen{
    width:100%;
  }


  .updateHeaderPhoneScreen{
    border:1px solid grey;
    text-align: center;
    margin:auto;
    width:80%;
    margin-top:1%;
    margin-bottom:30%;
 
  }
}